{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div style="position: fixed; width: 100%; box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);">
        {% block navbar %}
            {% include 'navbar.html.twig' %}
        {% endblock %}
    </div>
    <div class="profile__header container-fluid">
        <h1 class="profile__h1">{{ user.pseudo }}</h1>
        <img class="profile__picture rounded-circle" src="/uploads/pictures/{{ user.picture }}">
    </div>
    <div class="container">
        <div class="profile__description p-5">
        {{ user.description ? user.description : "Pas de description"}}
        </div>

        <div class="profile__div__table">
            <table class="profile__table">
                <tbody>
                    <tr>
                        <th>Prénom Nom : </th>
                        <td>{{ user.firstname }} {{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Email : </th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance : </th>
                        <td>{{ user.dateBirth ? user.dateBirth|date('d-m-Y') : '' }}</td>
                        <td>
                            <div class="profile__linkEdit">
                                <a class="btn btn-outline-light btn-lg" href="{{ path('app_profile_edit') }}"><i class="fa-solid fa-pen-to-square fa-1x profile__icon-edit"></i>Modifier le profil</a>
                            <div>
                        </td>
                    </tr>
                    <tr>
                        <th>Adresse : </th>
                        <td>{{ user.address.getNameAddress() }}, 
                            {{ user.address.city.getNameCity() }}, 
                            {{ user.address.city.country.getNameCountry() }} 
                        
                        </td>
                    </tr>
                    <tr>
                        <th>Téléphone : </th>
                        <td>{{ user.phone ? user.phone : "Non renseigné" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>   
    </div>
{% endblock %}
