{% extends 'base.html.twig' %}

{% block title %}Panier - POG
{% endblock %}

{% block body %}
	<div style="box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);">
		{% block navbar %}
			{% include 'navbar.html.twig' %}
		{% endblock %}
	</div>
	<div class="container">
		<h1 class="cart__h1">Votre panier</h1>

		<table class="table cart__table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for element in dataPanier %}
					<tr>
						<td><img class="cart__img" src={{ element.game.getPictureGame() }}>
							{{ element.game.getNameGame() }}</td>
						<td>{{ element.game.getPriceGame() }}
							€</td>
						<td>{{ element.quantity }}</td>
						<td>{{ element.quantity * element.game.getPriceGame() }}
							€</td>
						<td class="cart__table__td-actions">
							<a href="{{path('app_cart_add', {id: element.game.id})}}" class="btn btn-success">
								<i class="fa-solid fa-plus fa-1x"></i>
							</a>
							<a href="{{path('app_cart_remove', {id: element.game.id})}}" class="btn btn-warning">
								<i class="fa-solid fa-minus fa-1x"></i>
							</a>
							<a href="{{path('app_cart_delete', {id: element.game.id})}}" class="btn btn-danger">
								<i class="fa-solid fa-xmark fa-1x"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5" class="text-center">Votre panier est vide</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">Total</td>
					<td class="text-end">{{ total }}€</td>
					<td class="cart__table__td-actions">
						<a href="{{path('app_cart_delete_all')}}" class="btn btn-sm btn-danger">
						<i class="fa-solid fa-xmark fa-1x cart__icon-deleteAll"></i>Vider le panier
						</a>
					</td>
				</tr>
			</tfoot>
		</table>
		<div class="cart__buttons">
			<a href="{{ path('app_home')}}"><button class="btn btn-lg room__button__returnForum"><span>Retourner sur la page du magasin</span></button></a>

			{% if app.user %}
			<a href="{{ path('app_stripe')}}"><button class="btn btn-lg btn-success cart__button-buy"><i class="fa-solid fa-cart-shopping fa-1x cart__icon-buy"></i>ACHETER</button></a>
			{% else %}

			<a href="{{ path('app_login')}}"><button class="btn btn-lg btn-success cart__button-buy"><i class="fa-solid fa-cart-shopping fa-1x cart__icon-buy"></i>ACHETER</button></a>
			{% endif %}
		</div>
	</div>


{% endblock %}
