{% extends 'base.html.twig' %}

{% block title %}Panier - POG
{% endblock %}

{% block body %}
	{% block navbar %}
		{% include 'navbar.html.twig' %}
	{% endblock %}
	<div class="container">
		<h1 class="cart__h1">Votre panier</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for element in dataPanier %}
					<tr>
						<td><img src={{ element.game.getPictureGame() }}>
							{{ element.game.getNameGame() }}</td>
						<td>{{ element.game.getPriceGame() }}
							€</td>
						<td>{{ element.quantity }}</td>
						<td>{{ element.quantity * element.game.getPriceGame() }}
							€</td>
						<td>
							<a href="{{path('app_cart_add', {id: element.game.id})}}" class="btn btn-success">
								<i class="fa-solid fa-plus fa-1x"></i>
							</a>
							<a href="{{path('app_cart_remove', {id: element.game.id})}}" class="btn btn-warning">
								<i class="fa-solid fa-minus fa-1x"></i>
							</a>
							<a href="{{path('app_cart_delete', {id: element.game.id})}}" class="btn btn-danger">
								<i class="fa-solid fa-xmark fa-1x"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5" class="text-center">Votre panier est vide</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">Total</td>
					<td class="text-end">{{ total }}
						€</td>
					<td>
						<a href="{{path('app_cart_delete_all')}}" class="btn btn-danger">
							<i class="fa-solid fa-xmark fa-1x"></i>
						</a>
					</td>
				</tr>
			</tfoot>
		</table>

		<a class="btn btn-dark" href="{{ path('app_home')}}">Retourner sur la page du magasin</a>
	</div>


{% endblock %}
