{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_game</th>
                <th>ReleaseDate_game</th>
                <th>Picture_game</th>
                <th>Price_game</th>
                <th>Note_game</th>
                <th>IsAvailable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.nameGame }}</td>
                <td>{{ game.releaseDateGame ? game.releaseDateGame|date('Y-m-d') : '' }}</td>
                <td>{{ game.pictureGame }}</td>
                <td>{{ game.priceGame }}</td>
                <td>{{ game.noteGame }}</td>
                <td>{{ game.isAvailable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_game_new') }}">Create new</a>
{% endblock %}
