{% extends 'base.html.twig' %}

{% block title %}Chat index{% endblock %}

{% block body %}
    <h1>Chat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentary</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chat in chats %}
            <tr>
                <td>{{ chat.id }}</td>
                <td>{{ chat.commentary }}</td>
                <td>{{ chat.date ? chat.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_chat_show', {'id': chat.id}) }}">show</a>
                    <a href="{{ path('app_chat_edit', {'id': chat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chat_new') }}">Create new</a>
{% endblock %}
