{% extends 'base.html.twig' %}

{% block title %}New Chat
{% endblock %}

{% block body %}
	<h4>Nouveau message</h4>
	{{ form_start(form) }}

	{{ form_widget(form.commentary)}}

	{{ form_widget(form.date) }}


	{# Récupérer l'id du user connecté#}

	{{ form_row(form.user, {'data': app.user.id}) }}
	<input value={{ app.user.id }}>

	{{ form_row(form.room, {'data': room.id}) }}
	<input name="chat[room]" value="{{ room.id }}">

	<button class="btn">{{ button_label|default('Envoyer') }}</button>

	{{ form_end(form) }}


	{# {{ include('chat/_form.html.twig') }} #}

{% endblock %}
