{% extends 'base.html.twig' %}

{% block title %}New Chat
{% endblock %}

{% block body %}
	<h4>Nouveau message</h4>
	{{ form_start(form) }}

	{{ form_widget(form.commentary)}}

	{{ form_widget(form.date, { 'value': "now"|date("Y-m-d H:i") }) }}


	{# Récupérer l'id du user connecté#}
	{% if app.user %}
		{{ form_row(form.user, {
        'attr': {
            'value': app.user.id,
        },
    }) }}
	{% endif %}

	{{ form_widget(form.room) }}

	<button class="btn">
		{{ button_label|default('Envoyer') }}</button>
	{{ form_end(form) }}


	{# {{ include('chat/_form.html.twig') }} #}

{% endblock %}
