{% extends 'base.html.twig' %}

{% block title %}New Chat
{% endblock %}

{% block body %}
<div class="container">
	<h5 class="newChat__h4">Nouveau message</h5>
	{{ form_start(form) }}

	{{ form_widget(form.commentary, {'attr' : {'placeholder' : 'Tapez votre message ici ...'} })}}

	{# Récupérer l'id du user connecté#}
	{{ form_widget(form.user, {'value' : app.user}) }}

	{{ form_widget(form.room, {'value': room.id}) }}

	<button class="btn btn-outline-light btn-lg newChat__submit">{{ button_label|default('Envoyer') }}</button>

	{{ form_end(form) }}


	{# {{ include('chat/_form.html.twig') }} #}
</div>

{% endblock %}
