{{ form_start(form) }}
{{ form_label(form.lastname_user) }}
{{ form_widget(form.lastname_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.firstname_user) }}
{{ form_widget(form.firstname_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.email_user) }}
{{ form_widget(form.email_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.password_user) }}
{{ form_widget(form.password_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.pseudo_user) }}
{{ form_widget(form.pseudo_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.dateBirth_user) }}
{{ form_widget(form.dateBirth_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.description_user) }}
{{ form_widget(form.description_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.picture_user) }}
{{ form_widget(form.picture_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.isMailValid) }}
{{ form_widget(form.isMailValid, {'name': 'my-select[]'}) }}

{{ form_label(form.phone_user) }}
{{ form_widget(form.phone_user, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.secu_enabled_user) }}
{{ form_widget(form.secu_enabled_user, {'name': 'my-select[]'}) }}

{{ form_label(form.address) }}
{{ form_widget(form.address, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.authentification) }}
{{ form_widget(form.authentification, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

{{ form_label(form.role) }}
{{ form_widget(form.role, {'name': 'my-select[]', 'attr': {'class': 'form-control'}}) }}

<button class="btn">
	{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
