{% extends 'base.html.twig' %}

{% block title %}Forum - POG
{% endblock %}

{% block body %}
	<div>
		<h1 class="forum__h1">Forum</h1>
		<div class="forumRules">
			<h4 class="forumRules__h4">Bienvenue sur le forum de POG</h4>
			<p>Ici, tu es libre de poser des questions à toutes la communauté POG, sur un sujet en particulier.&nbspMais tout d'abord, merci de prendre connaissance des règles suivantes :</p>
			<ul>
				<li>Avant de poster une nouvelle question,
					<strong>vérifie que personne ne l’a posée avant toi
					</strong>. Pour cela, tu peux utiliser la barre de recherche ci-dessous.
				</li>
				<br/>
				<li>
					<strong>Respect, politesse et bienveillance sont de mises
					</strong>! Les messages à caractère raciste, homophobe, religieux ou autre ne sont pas tolérés ici.&nbspAucune insulte n’est tolérée également, ainsi que la discrimination, sous peine d’exclusion définitive de POG. Si tu voies un message de la sorte sur ce forum, tu peux signaler l’auteur(.rice) en cliquant sur le bouton “Signaler”.
				</li>
			</ul>
			<p>Bon voyage sur le forum !</p>
		</div>
		<div id="arrow" class="forumRoomSearch">
			<input class="forumRoomSearch__input" type="text" placeholder="Rechercher un sujet de discussion">
		</div>
		<div class="roomGrid">
			<div class="roomGridHeader">
				<p>Titre</p>
				<p>Créée le</p>
				<p class="roomCardMessage">Nombre de message</p>
			</div>
			{# room et rooms de RoomController et ForumController #}
			{% for room in rooms %}
				<div class="roomCard">
					<a href="{{ path('app_room_show', {id: room.id}) }}">
						<p class="roomCardTitle">{{ room.titleRoom }}</p>
					</a>
					<p class="roomCardDate">{{ room.dateRoom ? room.dateRoom|date('d-m-Y') : ''}}</p>

					{# Compter le nombre de messages dans chaque room #}
					{% set count = 0 %}
					{% for chat in chats %}
						{% if room.id == chat.room.id %}
							{% set count = count + 1 %}
						{% endif %}
					{% endfor %}
					<p class="roomCardMessage">{{count}}</p>
				</div>
			{% endfor %}
		</div>
		<div class="newRoomContainer">
			Tu ne trouves pas la discussion correspondant à ta recherche ?<br>
			Clique
			{% if app.user %}
				<a href="{{ path('app_room_new') }}" class="newRoomButton">ici</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="newRoomButton">ici</a>
			{% endif %}
			pour en créer une :
		</div>
	</div>
		<span class="arrow">
			<a href="#arrow"><img class="arrow__img" src="assets/img/arrow.png" src="Haut de page"></a>
		</span>
{% endblock %}
